.Main {
  padding: 20px;
  width: 100%;
  text-align: center;

  @media (min-width: 1280px) {
    padding: 40px;
  }
}

.Card {
  margin: 0 auto;
  padding: 10px;
  max-width: 540px;
  border-radius: var(--radius);
  color: var(--color-dark);
  background-color: var(--shade-white-80);
}
