@import '@src/styles/media-queries.css';

.Header {
  padding: 20px;
  width: 100%;
  text-align: center;

  @media (--min-desktop) {
    padding: 40px;
  }
}

.Actions {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  justify-items: center;
  gap: 10px;
}
