.AccordionList {
}

.AccordionItem {
  --accordion-action-padding-x: 6px;
  --accordion-action-padding-y: 10px;

  padding-top: 4px;
  padding-bottom: 4px;
  border-top: 1px solid var(--color-text);

  &:last-child {
    border-bottom: 1px solid var(--color-text);
  }
}
